<table width='100%' class='pit'>
    <tr>
        <td width="38">{{html image}}</td><td><h3>${title}</h3></td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%">
                <tr class='hrow3'><td class='to'>${lang.author}:</td><td>{{html authors}}</td></tr>
                <tr class='hrow4'><td class='to'>${lang.homepage}:</td><td>{{html link}}</td></tr>
                <tr class='hrow3'><td class='to'>${lang.version}:</td><td>${version}</td></tr>
                <tr class='hrow4'><td class='to'>${lang.description}:</td><td>{{html description}}</td></tr>
                <tr class='hrow3'><td class='to'>${lang.date}:</td><td>${create}</td></tr>
                <tr class='hrow4'><td class='to'>${lang.license}:</td><td>${license}</td></tr>
                <tr class='hrow3'><td class='to'>${lang.path}:</td><td>${path}</td></tr>
                <tr class='hrow4'><td class='to'>${lang.supported}:</td><td>{{html supported}}</td></tr>
            </table>
        </td>
    </tr>
</table>