<table width='100%'>
    <tr>
        <td width='100'><img style='max-width:100px;' src='uploads/avatars/${user_avatar}' alt='${user_name}' /></td>
        <td style="padding: 0 5px 0 5px;" valign="top">
            <table width="100%" class='infotable'>
                <tr><td class='infotext' align="left" width='150'>${lang.group}:</td><td align="left">{{html user_group}}</td></tr>
                <tr><td class='infotext' align="left">${lang.reg_date}:</td><td align="left">{{html user_regdate}}</td></tr>
                <tr><td class='infotext' align="left">${lang.last_visit}:</td><td align="left">{{html user_last_visit}}</td></tr>
                <tr><td class='infotext' align="left">${lang.home_page}:</td><td align="left">{{html user_website}}</td></tr>
            </table>
        </td>
    </tr>
</table>